<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SystemConnectionString" value="Server=.\SQLExpress;Database=CSFramework3.System;User ID=csframework;Password=test;Connection TimeOut=180;"></add>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true">
    </compilation>
    <authentication mode="Windows"/>
    <httpRuntime
executionTimeout="10800"
maxRequestLength="819200"
useFullyQualifiedRedirectUrl="false"
minFreeThreads="8"
minLocalRequestFreeThreads="8"
appRequestQueueLimit="100"   />
  </system.web>
  <system.codedom>
  </system.codedom>
  <system.webServer>
  </system.webServer>
</configuration>
